*{
	margin: 0;
	padding: 0;
}
body{
	font-family: verdana;
}
.main{
	width: 100%;
	height: auto;
	
	background-repeat: repeat;
	min-height: 2000px
	margin: 0 auto;
}
.container{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.topbar{
	width: 100%;
	height: 4px;
	background-color: #fcc508;
}
.social_icon{
	width: 100%;
	height: 53px;
	background-color: #2a2b2c;
	float: left;
}
.icon{
	width: 400px;
	height: 30px;
	padding-top: 0px;
	float: left;
}
.login_register_btn{
	width: 150px;
	height: 33px;
	float: left;
}
.header_right{
	width: 300px;
	height: auto;
	float: right;
}
.login_register_btn a{
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	line-height: 53px;
	width: 50px;
}
.cart_btn{
	width: 150px;
	height: 70px;
	background-color: #fcc508;
	float: right;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.cart_btn img{
	height: 70px;
	padding: 6px;
	float: left;
}
.cart_btn span{
	height: 50px;
	line-height: 50px;
	color: #cc3333;
	font-size: 14px;
	font-weight: bold;
}
.header{
	width: 100%;
	height: 100px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.logo{
	width: 200px;
	height: auto;
	float: left;
}
.navbar{
	width: 800px;
	float: left;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar a{
	display: inline-block;
	color: black;
	padding: 0 10px;
	text-decoration: none;
	font-weight: bold;
}
.slider{
	width: 100%;
	height: auto;
	float: left;
}
.slideshow{
	width: 1000px;
	height: auto;
	border: 7px solid;
}
.slideshow img{
	width: 100%;
	height: auto;
}
.center{
	position: relative;
	left: 0;
	top: 0;
	margin-top: -200px;
	z-index: 1000;
}
.center img{
	width: 100%;
	padding: 0px;
}
.center #prev{
	float: right;
}
.center #next{
	float: left;
}
.center #prev,
.center #next{
	width: 100px;
	height: 100px;
	background-color: white;
	text-decoration: none;
	text-align: center;
	line-height: 85px; 
	border-radius: 100px;
}
.welcome_text{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 300px;
	text-decoration: center;
}
.welcome_text h1{
	font-weight: normal;
}
.welcome_text h1 span{
	background-color: #fcc60d;
}
.event_section{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
}
.event_section .event_one,
.event_section .event_two,
.event_section .event_three{
	width: 280px;
	height: auto;
	padding: 16px 7px 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #1e1e20;
	border-radius: 7px;
	color: white;
	float: left;
}
.event_section .event_one h3{
	font-size: 16px;
	margin-bottom: 7px;
}
.event_section .event_one p{
	font-size: 14px;
}
.event_section .event_two{
	margin: 0 50px;
	background-color: #fcc508;
	color: #cd3737;
}
.event_section .event_two h3{
	color: white;
}
.product{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
}
.product_section_title{
	float: left;
	width: 100%;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}
.product_one{
	float: left;
	width: 230px;
	height: auto;
	border-radius: 7px;
	background-color: white;
	padding-bottom: 15px;
	border-bottom: 2px solid darkgray;
	border-left: 1px solid darkgray;
	border-right: 1px solid darkgray;
}
.product_img{
	width: 230px;
	float: left;
	border: 1px solid;
	border-radius: 7px;
	overflow: hidden;
}
.product_img img{
	width: 100%;
}
.product_text{
	width: 230px;
	float: left;
	margin-top: 10px;
	padding-left: 10px; 
}
.product_text h4 i{
	font-weight: normal;
	margin-left: 10px;
}
.star_rating{
	float: left;
	width: 230px;
	margin-top: 10px;
	padding-left: 10px; 
}
.star_rating img{
	width: 21px;
	float: left;
	margin-right: 5px;
}
.product_desc{
	width: 230px;
	float: left;
	font-size: 14px; 
	margin-top: 5px;
	padding-left: 10px; 
}
.product_price{
	width: 230px;
	float: left;
	margin-top: 10px;
}
.price{
	float: left;
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px; 
}
.button{
	float: right;
	padding: 10px;
	background-color: #fcc508;
	border-radius: 5px;
	color: #cd3737;
	margin-right: 10px;
}
.product_two{
	margin-left: 15px;
	margin-right: 15px;
}
.product_three{
	margin-left: 15px;
	margin-right: 15px;
}
.product_one .product_img{
	position: relative;
}
.product_one .product_img span{
	position: absolute;
	left: 15px;
	top: 15px;
	background-color: #fcc508;
	color: black;
	text-align: center;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	line-height: 60px;
	font-weight: bold;
	font-size: 14px;
}
.brand{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
}
.brand_image img{
	width: 160px;
	height: 130px;
	float: left;
	margin-right: 6px;
}
.footer{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 50px;
	padding: 20px 0;
	padding: 25px 0;
	background-image: url(images/black.png);
	color: white;
}
.column3{
	width: 25%;
	float: left;
}
,footer h4{
	margin-bottom: 7px;
}
.footer p{
	font-size: 14px;
}
.second-column p{
	border-bottom: 1px dotted rgba(255,255,255,0);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.second-column p.not{
	border-bottom: none;
}
.third-column p{
	width: 100%;
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}
.third-column p img{
	float: left;
}
.third-column p small{
	margin-top: 6px;
	display: block;
}
.third-column p small img{
	display: block;
	margin-top: 6px;
}
.four-column .search{
	padding: 10px 10px;
	font-style: italic;
	width: 100%;
	color: rgba(255,255,255,0.6);
	background-color: black;
	border:2px solid #333;
}
.four-column a{
	background-color: #2a2a2a;
	display: inline-block;
	padding: 8px 11px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	color: white;
	text-decoration: none;
}